.headercontainer {
  text-align: center;
  height: 15vh;
  background-color: #2b2b2b;
  color: rgb(255, 255, 255);
}
.oneplayer {
  text-align: center;
}
.twoplayer {
text-align: center;
}

.onesectioncontainer {
  margin-left: 15vw;
  margin-top: 5vh;
  display: grid;
  grid-template-areas: 
  "a a a a a";
}

.twosectioncontainer {
  margin-left: 15vw;
  margin-top: 5vh;
  display: grid;
  grid-template-areas: 
  "a a a a a";
}
.box {
  height: 200px;
  width: 200px;
  border: 4px solid rgb(119, 0, 159);
  border-radius: 20px;
}

.footerContainer {
  position: absolute;
  bottom: 0;
  background-color: #282c34;
  height: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link {
  font-size: calc(2px + 2vmin);
  color: white;
  text-decoration: none;
}